<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../partials/head %>
	<script data-main="/js/main.js" src="/js/require.js"></script>
</head>

<body class="container">
		<h2 class="text-center" id="title">Configuration UI</h2>
	<main class="card" id="genericActivity">

		<div class="card-body step" id="step1">
			<div class="form-group">
				<label for="input-id-01">Text Input</label>
				<input type="text" class="form-control" id="input-id-01" placeholder="Placeholder Text">
			</div>
			<div class="form-group">
				<label for="input-id-02">Textarea Input</label>
				<textarea class="form-control" id="input-id-02" rows="3" placeholder="Placeholder Text"></textarea>
			</div>

			<div class="form-group">
				<label for="select-id-03">Select Input</label>
				<select class="form-control" id="select-id-03">
					<option>Option One</option>
					<option>Option Two</option>
					<option>Option Three</option>
				</select>
			</div>
		</div>

		<div class="card-body text-center step" id="step2" style="display:none;">
			<h5 class="card-title">Test step 2</h5>
			<p class="card-text">Additional information here.</p>
			<p class="card-link"> Additional information here.</p>
			<p class="blockquote-footer"> Note: some note.</p>
		</div>
		
		<div class="card-body text-center step" id="step3" style="display:none;">
			<h5 class="card-title">Test step 3</h5>
			<p class="card-text">Additional information here.</p>
			<p class="card-link"> Additional information here.</p>
			<p class="blockquote-footer"> Note: some note.</p>
		</div>

	</main>
</body>

</html>