<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
	<script data-main="/js/modalMain.js" src="/js/require.js"></script>
</head>
<body class="container">

	<main>
		<div class="jumbotron">
			<h1>Running Hover</h1>
			<p>Running hover description</p>
		</div>
	</main>
	
</body>
</html>