<meta charset="UTF-8">
<title>Basic Custom Activity</title>
<link rel="icon" href="/images/favicon.ico" type="image/x-icon"/>
<!-- CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<style>
	body 	{ padding-top:50px; }
</style>