<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
	<script data-main="/js/main.js" src="/js/require.js"></script>
</head>
<body class="container">

	<main>
		<div class="jumbotron">
			<h1>Configuration/Edit UI</h1>
			<p>Configuration/Edit description</p>
		</div>
	</main>
	
</body>
</html>