<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<main>
		<div class="jumbotron">
			<h1>Running Modal</h1>
			<p>Running modal description</p>
		</div>
	</main>
	
</body>
</html>